<div class="container-fluid">
  <h1>Stock des onduleur</h1>
  <div class="alert alert-success" *ngIf="message != ''">
    {{ message }}
  </div>
  <div class="d-flex flex-wrap align-items-center w-100">
    <div class="stock-level">
      <div class="d-flex flex-column align-items-center gap-5">
        <div class="w-100 d-flex align-items-center">
          <input class="form-control" type="search" placeholder="search" (keyup.enter)="search()" [(ngModel)]="sh">
          <button class="btn btn-primary" (click)="search()"><i class="bi bi-search"></i></button>
        </div>
        <div class="d-flex flex-column align-items-center">
          <circle-progress
            [percent]="stLevel"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#3b7ddd'"
            [innerStrokeColor]="'#f4f4f4'"
            [animation]="true"
            [animationDuration]="200"
          ></circle-progress>
          <span>Niveau de stock</span>
          <button class="btn btn-primary mt-5" routerLink="./new">ajouter</button>
        </div>
      </div>
    </div>
    <div class="stock">
      <div class="w-100 h-100 d-flex justify-content-center align-items-center" *ngIf="dataLoading">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        </div>
        <span class="ms-2">Chargement...</span>
      </div>
      <div class="element" *ngFor="let inv of inverterList">
        <div class="d-flex justify-content-end mb-2">
          <button class="btn btn-light" (click)="selectInverter(inv)" data-bs-toggle="modal"
                  data-bs-target="#updateModal">modifier
          </button>
          <button class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#deleteModal"
                  (click)="selectInverter(inv)">supprimer
          </button>
        </div>
        <div class="d-flex align-items-center gap-5">
          <div class="image">
            <img [src]=getImageUrl(inv.image)>
          </div>
          <div class="about">
            <div class="d-flex align-items-center">
              <h2>{{ inv.model }}</h2>
            </div>
            <p>puissance nominal : <span>{{ inv.nominal_power }}</span> Mw</p>
            <p>voltage maximal de circuit : <span>{{ inv.maximum_circuit_voltage }}</span> V</p>
            <p>circuit courant minimal : <span>{{ inv.minimal_circuit_current }}</span> A</p>
            <p>fréquence : <span>{{ inv.frequency }}</span> Hz</p>
            <p>tension : <span>{{ inv.tension }}</span> A</p>
            <p>nombre de phase : <span>{{ inv.phase_number }}</span></p>
            <p>type : <span>{{ inv.type }}</span></p>
            <p>prix : <span class="text-danger" style="text-decoration: underline"> {{ inv.price }} dinar</span></p>
          </div>
        </div>
        <div class="d-flex justify-content-end align-items-center">
          <span class="me-3">{{ inv.quantity }} pièces</span>
          <input class="form-control" type="number" id="quantity" [(ngModel)]="quantity">
          <i class="bi bi-dash-square-fill ms-2" (click)="minusQuantity(inv)"></i>
          <i class="bi bi-plus-square-fill ms-2" (click)="plusQuantity(inv)"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-5 pe-5">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item me-2"><a class="page-link request">{{ totalElements }} modèle</a></li>
        <li class="page-item" (click)="previousPage()"><a class="page-link"><i class="bi bi-caret-left"></i></a></li>
        <li class="page-item ms-2 me-2"><a class="page-link text-center" style="width: 40px;">{{ pageNo + 1 }}</a></li>
        <li class="page-item" (click)="nextPage()"><a class="page-link"><i class="bi bi-caret-right"></i></a></li>
      </ul>
    </nav>
  </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Supprimer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr d'avoir supprimé cet onduleur ?
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">annuler</button>
        <button type="button" class="btn btn-danger" (click)="deleteInverter()" data-bs-dismiss="modal">supprimer
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalLabel">Modifier</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <label class="form-label">Model :</label>
            <input class="form-control" [(ngModel)]="inverter.model">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label class="form-label">Puissance nominal :</label>
            <input class="form-control" [(ngModel)]="inverter.nominal_power">
          </div>
          <div class="col">
            <label class="form-label">Voltage maximal de circuit :</label>
            <input class="form-control" [(ngModel)]="inverter.maximum_circuit_voltage">
          </div>
          <div class="col">
            <label class="form-label">Courant minimal de circuit :</label>
            <input class="form-control" [(ngModel)]="inverter.minimal_circuit_current">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label class="form-label">Tension :</label>
            <input class="form-control" [(ngModel)]="inverter.tension">
          </div>
          <div class="col">
            <label class="form-label">Fréquence :</label>
            <input class="form-control" [(ngModel)]="inverter.frequency">
          </div>
          <div class="col">
            <label class="form-label">Nombre de phase :</label>
            <input class="form-control" [(ngModel)]="inverter.phase_number">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label class="form-label"> type d'onduleur :</label>
            <select class="form-control" [(ngModel)]="inverter.type">
              <option>choisir un type d'onduleur</option>
              <option value="Onduleur central">Onduleur central</option>
              <option value="Onduleur de chaîne">Onduleur de chaîne</option>
              <option value="Micro-onduleur">Micro-onduleur</option>
              <option value="Onduleur avec batterie">Onduleur avec batterie</option>
            </select>
          </div>
          <div class="col-3">
            <label class="form-label">prix :</label>
            <input class="form-control" [(ngModel)]="inverter.price">
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn btn-primary" (click)="updateInverter()" data-bs-dismiss="modal">enregistrer
          <i class="bi bi-floppy ms-2"></i>
        </button>
      </div>
    </div>
  </div>
</div>
