.container-fluid {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  text-align: center;
  color: #3b7ddd;
  font-size: 2rem;
  text-transform: uppercase;
}

.stock-level {
  width: 500px;
}

.form-control {
  border-radius: 3px;
  box-shadow: none;
  background-image: linear-gradient(rgba(59, 125, 221, 0.07), #ffffff);
  font-size: 16px;
}

.form-label {
  font-size: 14px;
}

.stock {
  width: 1200px;
}

.element {
  border-bottom: 1px solid rgba(128, 128, 128, 0.17);
  padding-bottom: 50px;
  padding-top: 50px;
}

.image img {
  width: 300px;
}

#quantity {
  width: 50px;
  margin: 0;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bi {
  font-size: 32px;
  color: #3b7ddd;
  cursor: pointer;
  opacity: 80%;
}

.bi:hover {
  opacity: 100%;
}

p {
  text-transform: capitalize;
}

p span {
  font-weight: 700;
  margin-left: 12px;
}

.btn {
  border-radius: 3px;
  text-transform: capitalize;
}

.btn-primary {
  background-color: #3b7ddd;
}

.stock {
  height: 70vb;
  overflow-y: scroll;
  padding: 25px;
}

.bi-caret-right, .bi-caret-left {
  font-size: 14px;
  opacity: 100%;
}

.bi-floppy {
  color: white;
  font-size: 16px;
}

.bi-search {
  color: white;
  font-size: 16px;
}
