<div class="container-fluid">
  <div class="d-flex align-items-center mb-3">
    <input class="form-control w-25" type="text" placeholder="search" [(ngModel)]="sh" (keyup.enter)="search()">
    <button class="btn btn-primary" (keyup.enter)="search()"><i class="bi bi-search"></i></button>
    <button class="btn btn-primary ms-3" routerLink="./new">ajouter</button>
    <div class="alert alert-success" *ngIf="message != null">
      {{ message }}
    </div>
    <div class="d-flex align-items-center ms-3 gap-2" *ngIf="requestSent">
      <div class="spinner-border" role="status"></div>
      <span>en attente de serveur</span>
    </div>
  </div>
  <table class="table table-bordered">
    <caption class="caption-top caption">
      <span class="title">Les devis</span>
    </caption>
    <thead>
    <tr>
      <th>client</th>
      <th>référence</th>
      <th>date</th>
      <th>total panneau solaire</th>
      <th>total onduleur</th>
      <th>total system de fixation</th>
      <th>total batterie</th>
      <th>total compteur</th>
      <th>total cable</th>
      <th>total devis</th>
      <th>status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of listDevis">
      <td>{{ d.devisRequestDto.firstName }} {{ d.devisRequestDto.lastName }}</td>
      <td>{{ d.ref }}</td>
      <td>{{ d.date }}</td>
      <td>{{ d.solarPanel.totalSolarPanel }} TND</td>
      <td>{{ d.inverter.totalInverter }} TND</td>
      <td>{{ d.systemFixing.totalSystemFixing }} TND</td>
      <td>{{ d.battery.totalBattery }} TND</td>
      <td>{{ d.meter.totalMeter }} TND</td>
      <td>{{ d.cable.totalCable }} TND</td>
      <td>{{ d.total }} TND</td>
      <td
        [ngClass]="{'toSend' : d.about === 'à envoyer', 'toAccept' : d.about === 'à accepter', 'accepted' : d.about === 'accepter'}">{{ d.about }}
      </td>
      <td class="d-flex justify-content-center">
        <i class="bi bi-printer" (click)="printDevis(d)"></i>
        <i class="bi bi-send ms-3" data-bs-toggle="modal" data-bs-target="#sendModal" (click)="selectDevis(d)"></i>
        <i class="bi bi-hammer ms-3" *ngIf="d.about === 'accepter'" (click)="navigateToCreateConstruction(d)"></i>
        <i class="bi bi-pencil-square ms-3" data-bs-toggle="modal" data-bs-target="#updateModal"
           (click)="selectDevis(d)"></i>
        <i class="bi bi-trash ms-3" data-bs-toggle="modal" data-bs-target="#deleteModal"
           (click)="selectDevis(d)"></i>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="position-fixed bottom-0 end-0 me-5">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link bg-primary">{{ totalElements }} devis</a></li>
        <li class="page-item me-2"><a class="page-link bg-primary">{{ totalPages }} pages</a></li>
        <li class="page-item" (click)="previousPage()"><a class="page-link"><i class="bi bi-caret-left"></i></a></li>
        <li class="page-item ms-2 me-2"><a class="page-link text-center" style="width: 50px;">{{ pageNo + 1 }}</a></li>
        <li class="page-item" (click)="nextPage()"><a class="page-link"><i class="bi bi-caret-right"></i></a></li>
      </ul>
    </nav>
  </div>
  <div class="w-100 h-75 d-flex justify-content-center align-items-center position-absolute top-0" *ngIf="dataLoading">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    </div>
    <span class="ms-2">Chargement...</span>
  </div>
</div>

<div class="modal fade" id="sendModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <label class="form-label">Message :</label>
          <textarea class="form-control" placeholder="cher :" rows="4" [(ngModel)]="mailBody"></textarea>
          <input type="file" class="form-control mt-3" (change)="changeFile($event)">
        </div>
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn btn-light me-3" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="sendMail(devis)">Envoyer</button>
      </div>
    </div>
  </div>
</div>


<!--Modal update contactor-->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalLabel">Modifier</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center flex-wrap gap-3">
          <div>
            <label class="form-label">Total panneau solaire</label>
            <input class="form-control" type="number" [(ngModel)]="devis.solarPanel.totalSolarPanel"
                   (keyup)="calculateTotal()">
          </div>
          <div>
            <label class="form-label">Total onduleur</label>
            <input class="form-control" type="number" [(ngModel)]="devis.inverter.totalInverter"
                   (keyup)="calculateTotal()">
          </div>
          <div>
            <label class="form-label">Total system de fixation</label>
            <input class="form-control" type="number" [(ngModel)]="devis.systemFixing.totalSystemFixing"
                   (keyup)="calculateTotal()">
          </div>
          <div>
            <label class="form-label">Total batterie</label>
            <input class="form-control" type="number" [(ngModel)]="devis.battery.totalBattery"
                   (keyup)="calculateTotal()">
          </div>
          <div>
            <label class="form-label">Total cable</label>
            <input class="form-control" type="number" [(ngModel)]="devis.cable.totalCable" (keyup)="calculateTotal()">
          </div>
          <div>
            <label class="form-label">Total compteur</label>
            <input class="form-control" type="number" [(ngModel)]="devis.meter.totalMeter" (keyup)="calculateTotal()">
          </div>
          <div>
            Total : {{ devis.total }} TND
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn btn-primary ms-3" (click)="updateDevis()" data-bs-dismiss="modal">
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal delete Devis-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Supprimer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr d'avoir supprimé cette devis ?
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn btn-danger ms-3" (click)="deleteDevis()" data-bs-dismiss="modal">
          supprimer
        </button>
      </div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center align-items-center position-absolute top-25 w-100" *ngIf="!dataExist">
  <img src="assets/OIP.jpeg" class="opacity-25">
</div>
