.container-fluid {
  padding-top: 100px;
  padding-right: 50px;
  padding-left: 50px;
}

.title {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 24px;
}

.caption {
  border-left: 1px solid rgba(0, 0, 0, 0.09);
  border-right: 1px solid rgba(0, 0, 0, 0.09);
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 3px 3px 0px 0px;
  text-align: center;
  background-color: #3b7ddd;
}

thead {
  text-transform: capitalize;
}

.table-container {
  height: 65vb;
}

.customer {
  width: 200px !important;
}

.message {
  font-weight: 700;
  color: blue;
  margin-left: 200px;
}

.modal-content {
  border-radius: 3px !important;
}

.modal-body {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.modal-body span:not(:last-child) {
  margin-bottom: 25px !important;
}

.form-control {
  border-radius: 3px;
  box-shadow: none;
  background-image: linear-gradient(rgba(59, 125, 221, 0.07), #ffffff);
}

.form-label {
  font-size: 16px;
}

.btn {
  border-radius: 3px;
  text-transform: capitalize;
}

.btn-primary {
  background-color: #3b7ddd;
}

#vide-image {
  width: 600px;
  position: absolute;
  top: 250px;
  left: 650px;
  opacity: 10%;
}

a {
  cursor: pointer;
}

.bi-pencil-square {
  color: green;
}

.bi-trash {
  color: red;
}

i {
  opacity: 75%;
  cursor: pointer;
  font-size: 16px !important;
}

i:hover {
  opacity: 100%;
}

.page-link {
  color: black !important;
}

.alert {
  margin: 0 !important;
  padding: 5px 12px !important;
  margin-left: 50px !important;
  border-radius: 3px !important;
}

.status {
  margin-top: 22px;
  font-size: 16px;
  margin-left: 3px;
}

.profile-image {
  width: 50px;
  height: 35px;
}

.bi-send{
  color: #2222ea;
}

.bi-hammer{
  color: #3b7ddd;
}

.toSend{
  background-color: orange;
  color: white;
}

.toAccept{
  background-color: #3b7ddd;
  color: white;
}

.accepted{
  background-color: green;
  color: white;
}

.bg-primary{
  background-color: #3b7ddd !important;
  color: white !important;
}
