<div class="container-fluid">
  <div class="d-flex align-items-center mb-3">
    <input class="form-control w-25" type="text" placeholder="search" [(ngModel)]="sh" (keyup.enter)="search()">
    <button class="btn btn-primary" (keyup.enter)="search()"><i class="bi bi-search"></i></button>
    <button class="btn btn-primary ms-3" routerLink="./new">ajouter</button>
    <div class="alert alert-success" *ngIf="errorMessage!='' && goodRequest">
      <i class="bi bi-info-circle me-2"></i>{{ errorMessage }}
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage!='' && !goodRequest">
      <i class="bi bi-info-circle me-2"></i>{{ errorMessage }}
    </div>
  </div>
  <table class="table table-bordered">
    <caption class="caption-top caption">
      <span class="title">Les Fournisseurs</span>
    </caption>
    <thead>
    <tr>
      <th>nom</th>
      <th>prénom</th>
      <th>email</th>
      <th>telephone</th>
      <th>nom d'entreprise</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of supplierList">
      <td>{{ s.firstName }}</td>
      <td>{{ s.lastName }}</td>
      <td>{{ s.email }}</td>
      <td>{{ s.phone }}</td>
      <td>{{ s.supplierCompanyName }}</td>
      <td class="d-flex justify-content-center">
        <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#updateModal"
           (click)="selectSupplier(s)"></i>
        <i class="bi bi-trash ms-3" data-bs-toggle="modal" data-bs-target="#deleteModal"
           (click)="selectSupplier(s)"></i>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="w-100 d-flex justify-content-end" *ngIf="dataExist">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" (click)="previousPage()"><a class="page-link"><i class="bi bi-caret-left"></i></a></li>
        <li class="page-item ms-2 me-2"><a class="page-link text-center" style="width: 50px;">{{ pageNo + 1 }}</a></li>
        <li class="page-item" (click)="nextPage()"><a class="page-link"><i class="bi bi-caret-right"></i></a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="w-100 h-50 d-flex justify-content-center align-items-center position-absolute top-0 h-75" *ngIf="dataLoading">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
  </div>
  <span class="ms-2">Chargement...</span>
</div>


<!--Modal update contactor-->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalLabel">Modifier</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <label class="form-label">Nom :</label>
            <input class="form-control" type="text" [(ngModel)]="supplier.firstName">
          </div>
          <div class="col">
            <label class="form-label">Prénom :</label>
            <input class="form-control" type="text" [(ngModel)]="supplier.lastName">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label class="form-label">Télèhone :</label>
            <input class="form-control" type="tel" [(ngModel)]="supplier.phone">
          </div>
          <div class="col">
            <label class="form-label">Email :</label>
            <input class="form-control" type="email" [(ngModel)]="supplier.email">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 ">
            <label class="form-label">nom d'entreprise</label>
            <input class="form-control" type="text" [(ngModel)]="supplier.supplierCompanyName">
          </div>
        </div>

        <div class="d-flex justify-content-end p-3">
          <button type="button" class="btn btn-primary ms-3" (click)="updateSupplierByCompany()"
                  data-bs-dismiss="modal">
            Enregistrer
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Modal delete contactor-->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Supprimer</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr d'avoir supprimé cet fournisseur ?
        </div>
        <div class="d-flex justify-content-end p-3">
          <button type="button" class="btn btn-danger ms-3" (click)="deleteSupplierByCompany()" data-bs-dismiss="modal">
            supprimer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
