<div class="container-fluid">
  <h1>Stock des panneaux solaire</h1>
  <div class="alert alert-success" *ngIf="message != ''">
    {{ message }}
  </div>
  <div class="d-flex flex-wrap align-items-center w-100">
    <div class="stock-level">
      <div class="d-flex flex-column align-items-center gap-5">
        <div class="w-100 d-flex align-items-center">
          <input class="form-control" type="search" placeholder="search" (keyup.enter)="search()" [(ngModel)]="sh">
          <button class="btn btn-primary" (click)="search()"><i class="bi bi-search"></i></button>
        </div>
        <div class="d-flex flex-column align-items-center">
          <circle-progress
            [percent]="stLevel"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#3b7ddd'"
            [innerStrokeColor]="'#f4f4f4'"
            [animation]="true"
            [animationDuration]="200"
          ></circle-progress>
          <span>Niveau de stock</span>
          <button class="btn btn-primary mt-5" routerLink="./new">ajouter</button>
        </div>
      </div>
    </div>
    <div class="stock">
      <div class="w-100 h-100 d-flex justify-content-center align-items-center" *ngIf="dataLoading">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        </div>
        <span class="ms-2">Chargement...</span>
      </div>
      <div class="element" *ngFor="let sp of solarPanelList">
        <div class="d-flex justify-content-end mb-2">
          <button class="btn btn-light" (click)="selectSolarPanel(sp)" data-bs-toggle="modal"
                  data-bs-target="#updateModal">modifier
          </button>
          <button class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#deleteModal"
                  (click)="selectSolarPanel(sp)">supprimer
          </button>
        </div>
        <div class="d-flex align-items-center gap-5">
          <div class="image">
            <img [src]=getImageUrl(sp.image)>
          </div>
          <div class="about">
            <div class="d-flex align-items-center">
              <h2>{{ sp.model }}</h2>
            </div>
            <p>puissance nominal : <span>{{ sp.nominal_power }}</span> Mwc</p>
            <p>tension maximal : <span>{{ sp.maximum_voltage }}</span> V</p>
            <p>courant maximal : <span>{{ sp.maximum_current }}</span> A</p>
            <p>hauteur : <span>{{ sp.height }}</span> mm</p>
            <p>longueur : <span>{{ sp.width }}</span> mm</p>
            <p>poids : <span>{{ sp.weight }}</span> Kg</p>
            <p>type des cellules : <span>{{ sp.type_cell }}</span></p>
            <p>prix : <span class="text-danger" style="text-decoration: underline"> {{ sp.price }} dinar</span></p>
          </div>
        </div>
        <div class="d-flex justify-content-end align-items-center">
          <span class="me-3">{{ sp.quantity }} pièces</span>
          <input class="form-control" type="number" id="quantity" [(ngModel)]="quantity">
          <i class="bi bi-dash-square-fill ms-2" (click)="minusQuantity(sp)"></i>
          <i class="bi bi-plus-square-fill ms-2" (click)="plusQuantity(sp)"></i>
        </div>
      </div>
      <div class="w-100 d-flex justify-content-center opacity-25" *ngIf="!dataExist">
        <img src="assets/OIP.jpeg">
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-5 pe-5">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item me-2"><a class="page-link request">{{ totalElements }} modèle</a></li>
        <li class="page-item" (click)="previousPage()"><a class="page-link"><i class="bi bi-caret-left"></i></a></li>
        <li class="page-item ms-2 me-2"><a class="page-link text-center" style="width: 40px;">{{ pageNo + 1 }}</a></li>
        <li class="page-item" (click)="nextPage()"><a class="page-link"><i class="bi bi-caret-right"></i></a></li>
      </ul>
    </nav>
  </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Supprimer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr d'avoir supprimé cet panneau solaire ?
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">annuler</button>
        <button type="button" class="btn btn-danger" (click)="deleteSolarPanel()" data-bs-dismiss="modal">supprimer
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalLabel">Modifier</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <label class="form-label">Model :</label>
            <input class="form-control" [(ngModel)]="solarPanel.model">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label class="form-label">Puissance nominal :</label>
            <input class="form-control" [(ngModel)]="solarPanel.nominal_power">
          </div>
          <div class="col">
            <label class="form-label">courant maximal :</label>
            <input class="form-control" [(ngModel)]="solarPanel.maximum_current">
          </div>
          <div class="col">
            <label class="form-label">voltage maximal :</label>
            <input class="form-control" [(ngModel)]="solarPanel.maximum_voltage">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label class="form-label">Longueur :</label>
            <input class="form-control" [(ngModel)]="solarPanel.width">
          </div>
          <div class="col">
            <label class="form-label">Hauteur :</label>
            <input class="form-control" [(ngModel)]="solarPanel.height">
          </div>
          <div class="col">
            <label class="form-label">Poids :</label>
            <input class="form-control" [(ngModel)]="solarPanel.weight">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label class="form-label"> type de cellule:</label>
            <select class="form-control" [(ngModel)]="solarPanel.type_cell">
              <option>choisir un type de cellule</option>
              <option value="Cellules en silicium monocristallin">Cellules en silicium monocristallin</option>
              <option value="Cellules en silicium polycristallin">Cellules en silicium polycristallin</option>
              <option value="Cellules en silicium amorphe">Cellules en silicium amorphe</option>
              <option value="Cellules CIGS (Copper Indium Gallium Selenide)">Cellules CIGS (Copper Indium Gallium
                Selenide)
              </option>
              <option value="Cellules à pérovskite">Cellules à pérovskite</option>
            </select>
          </div>
          <div class="col-3">
            <label class="form-label">prix :</label>
            <input class="form-control" [(ngModel)]="solarPanel.price">
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn btn-primary" (click)="updateSolarPanel()" data-bs-dismiss="modal">enregistrer
          <i class="bi bi-floppy ms-2"></i>
        </button>
      </div>
    </div>
  </div>
</div>
