<div class="container">
  <h1>ajouter un systeme de fixation</h1>
  <div class="d-flex align-items-center w-100 gap-5 mt-5">
    <div class="image">
      <img [src]=imageLink>
      <input type="file" class="form-control mt-3" (change)="handleFileInput($event)">
    </div>
    <div class="form">
      <div class="row">
        <div class="col">
          <label class="form-label">Model :</label>
          <input class="form-control" [ngClass]="{'border-danger': !validModel}" [(ngModel)]="systemFixing.model">
          <span class="text-danger" *ngIf="!validModel">modele est obligatoire</span>
        </div>
        <div class="col-3">
          <label class="form-label">Matière :</label>
          <input class="form-control" [ngClass]="{'border-danger': !validMaterial}" [(ngModel)]="systemFixing.materiel">
          <span class="text-danger" *ngIf="!validMaterial">matière est obligatoire</span>
        </div>
        <div class="col-3">
          <label class="form-label">Adaptabilité :</label>
          <input class="form-control" [ngClass]="{'border-danger': !validAdaptability}"
                 [(ngModel)]="systemFixing.adaptability">
          <span class="text-danger" *ngIf="!validAdaptability">adaptabilité est obligatoire</span>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-3">
          <label class="form-label">Méthode d'installation :</label>
          <input class="form-control" [ngClass]="{'border-danger': !validInstallation}"
                 [(ngModel)]="systemFixing.installation_method">
          <span class="text-danger" *ngIf="!validInstallation">Méthode d'installation est obligatoire</span>
        </div>
        <div class="col-2">
          <label class="form-label">Longueur :</label>
          <input class="form-control" [ngClass]="{'border-danger': !validWidth}" [(ngModel)]="systemFixing.width">
          <span class="text-danger" *ngIf="!validWidth">Longueur est obligatoire</span>
        </div>
        <div class="col-2">
          <label class="form-label">Hauteur :</label>
          <input class="form-control" [ngClass]="{'border-danger': !validHeight}" [(ngModel)]="systemFixing.height">
          <span class="text-danger" *ngIf="!validHeight">Hauteur est obligatoire</span>
        </div>
        <div class="col-4">
          <label class="form-label">Charge de poids maximal :</label>
          <input class="form-control" [ngClass]="{'border-danger': !validCharge}" [(ngModel)]="systemFixing.charge">
          <span class="text-danger" *ngIf="!validCharge">Poids est obligatoire</span>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-4">
          <label class="form-label">type de cellule : </label>
          <select class="form-control" [ngClass]="{'border-danger': !validType}" [(ngModel)]="systemFixing.type">
            <option>choisir un type de cellule</option>
            <option value="Toiture inclinée">Toiture inclinée</option>
            <option value="Toiture plate">Toiture plate</option>
            <option value="Sol">Sol</option>
            <option value="Façade">Façade</option>
          </select>
          <span class="text-danger" *ngIf="!validType">Type est obligatoire</span>
        </div>
        <div class="col-2">
          <label class="form-label">prix: </label>
          <input class="form-control" placeholder="TND" type="number" [ngClass]="{'border-danger': !validPrice}"
                 [(ngModel)]="systemFixing.price">
          <span class="text-danger" *ngIf="!validPrice">Prix est obligatoire</span>
        </div>
        <div class="col-2">
          <label class="form-label">quantité: </label>
          <input class="form-control" type="number" [(ngModel)]="systemFixing.quantity">
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="saveSystemFixing()">enregistrer <i class="bi bi-floppy ms-2"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
