<div class="container-fluid">
  <div class="d-flex align-items-center mb-3">
    <input class="form-control w-25" type="text" placeholder="search" [(ngModel)]="sh" (keyup.enter)="search()">
    <button class="btn btn-primary" (keyup.enter)="search()"><i class="bi bi-search"></i></button>
    <div class="alert alert-success" *ngIf="errorMessage!='' && goodRequest">
      <i class="bi bi-info-circle me-2"></i>{{ errorMessage }}
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage!='' && !goodRequest">
      <i class="bi bi-info-circle me-2"></i>{{ errorMessage }}
    </div>
  </div>
  <div class="table-container" *ngIf="contactorRequestList.length != 0">
    <table class="table table-bordered">
      <caption class="caption-top caption">
        <span class="title">Les demandes d'obtention license</span>
      </caption>
      <thead>
      <tr>
        <th>nom</th>
        <th>prenom</th>
        <th>email</th>
        <th>telephone</th>
        <th>société</th>
        <th>message</th>
        <th>date</th>
        <th>status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let request of contactorRequestList">
        <td>{{ request.firstName }}</td>
        <td>{{ request.lastName }}</td>
        <td>{{ request.email }}</td>
        <td>{{ request.phone }}</td>
        <td>{{ request.companyName }}</td>
        <td class="message">{{ request.message }}</td>
        <td>{{ request.date }}</td>
        <td
          [ngClass]="{'refused' : request.status == 'refuser', 'accepted' : request.status === 'accepter'}">{{ request.status }}
        </td>
        <td class="text-center">
          <i class="bi bi-check-square-fill me-3" (click)="navigateToCreateContactor(request)"></i>
          <i class="bi bi-x-square-fill me-3" (click)="declineRequest(request)"></i>
          <i class="bi bi-trash" data-bs-toggle="modal" data-bs-target="#deleteModal"
             (click)="selectContactorRequest(request)"></i></td>
      </tr>
      </tbody>
    </table>
    <div class="w-100 d-flex justify-content-end">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" (click)="previousPage()"><a class="page-link"><i class="bi bi-caret-left"></i></a></li>
          <li class="page-item ms-2 me-2"><a class="page-link text-center" style="width: 50px;">{{ pageNo + 1 }}</a>
          </li>
          <li class="page-item" (click)="nextPage()"><a class="page-link"><i class="bi bi-caret-right"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="w-100 h-50 d-flex justify-content-center align-items-center" *ngIf="dataLoading">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    </div>
    <span class="ms-2">Chargement...</span>
  </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Supprimer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr d'avoir supprimé cette demande ?
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn btn-danger ms-3" (click)="deleteContactorRequest()" data-bs-dismiss="modal">
          supprimer
        </button>
      </div>
    </div>
  </div>
</div>
