<nav class="navbar navbar-expand-xxl" aria-label="Seventh navbar example">
  <div class="container-fluid">
    <img src="../../../assets/lg.png" id="logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleXxl" aria-controls="navbarsExampleXxl" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleXxl">
      <ul class="navbar-nav ms-5 me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <a class="nav-link"  routerLink="./home" routerLinkActive="active">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="./request-devis" routerLinkActive="active">demande devis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./devis" routerLinkActive="active">devis</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Stock</a>
          <ul class="dropdown-menu">
            <li class="d-flex mb-2 p-2"><img src="../../../assets/panneauS.png" width="30px" alt=""><a class="dropdown-item" routerLink="solar-panel">Panneaux Solaire</a></li>
            <li class="d-flex mb-2 p-2"><img src="../../../assets/Onduleur.png" width="30px" alt=""><a class="dropdown-item" routerLink="inverter">Onduleur</a></li>
            <li class="d-flex mb-2 p-2"><img src="../../../assets/sytemF.png" width="30px" alt=""><a class="dropdown-item" routerLink="system-fixing">Systeme de support</a></li>
            <li class="d-flex mb-2 p-2"><img src="../../../assets/cables.png" width="30px" alt=""><a class="dropdown-item" routerLink="cable">Cables</a></li>
            <li class="d-flex mb-2 p-2"><img src="../../../assets/battery.png" width="30px" alt=""><a class="dropdown-item" routerLink="battery">Batterie</a></li>
            <li class="d-flex mb-2 p-2"><img src="../../../assets/compteur.png" width="30px" alt=""><a class="dropdown-item" routerLink="meter">Compteurs</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./construction" routerLinkActive="active">chantier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./calender" routerLinkActive="active">calendrier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./supplier" routerLinkActive="active">fournisseur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./worker" routerLinkActive="active">ouvrier</a>
        </li>
      </ul>
      <div>
      </div>
    </div>
    <button class="btn btn-light" (click)="logOut()"><i class="bi bi-power me-2"></i>déconnexion</button>
  </div>
</nav>
