<div class="container">
  <h1>Ajouter un ouvrier</h1>
  <div class="alert alert-danger" *ngIf="errorMessage != ''">
    {{ errorMessage }}
  </div>
  <div class="row mt-5">
    <div class="col p-5">
      <div class="image-holder">
        <img [src]=imageLink id="profile-pic">
        <input type="file" class="form-control file" (change)="handleFileInput($event)">
      </div>
    </div>
    <div class="col p-5">
      <div class="row">
        <h2>les information personnel :</h2>
        <div class="col mt-2">
          <label class="form-label">Nom :</label>
          <input class="form-control" type="text" [(ngModel)]="worker.firstName">
        </div>
        <div class="col mt-2">
          <label class="form-label">Prénom :</label>
          <input class="form-control" type="text" [(ngModel)]="worker.lastName">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label class="form-label">Télèhone :</label>
          <input class="form-control" type="text" [(ngModel)]="worker.phone">
        </div>
        <div class="col">
          <label class="form-label">Address :</label>
          <input class="form-control" type="text" [(ngModel)]="worker.address">
        </div>
      </div>
      <div class="row mt-5">
        <h2>les information du compte :</h2>
        <div class="col mt-2">
          <label class="form-label">Email :</label>
          <input class="form-control" type="email" [(ngModel)]="worker.email">
        </div>
        <div class="col mt-2">
          <label class="form-label">Password :</label>
          <input class="form-control" type="password" [(ngModel)]="user.password">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label class="form-label">Profession :</label>
          <select class="form-control" (change)="affectProfession($event)">
            <option>choisir une profession !</option>
            <option value="TECHNICIEN">technicien</option>
            <option value="SECRETAIRE">secretaire</option>
            <option value="GESTIONNAIRE">gestionnaire</option>
          </select>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="saveWorker()">enregsitrer <i class="bi bi-floppy ms-2"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
