.container {
  padding-top: 100px;
}

h1 {
  color: #3b7ddd;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}



.image-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100%;
  margin: 0 auto;
}

#profile-pic {
  width: 100%;
  border-radius: 400px;
}

.form-control {
  border-radius: 3px;
  box-shadow: none;
  background-image: linear-gradient(rgba(59, 125, 221, 0.07), #ffffff);
}

.form-label {
  font-size: 16px;
}

.alert {
  margin: 0 !important;
  padding: 5px 12px !important;
  margin-left: 50px !important;
  border-radius: 3px !important;
}

.btn {
  border-radius: 3px;
  text-transform: capitalize;
}

.btn-primary {
  background-color: #3b7ddd;
  margin-top: 31px;
  width: 100%;
}

.file {
  width: 149px;
  margin-top: 15px;
}
