<div class="container-fluid">
  <h1>Ajouter un entrepreneur</h1>
  <div class="container">
    <h2>Les inforamtion de demande d'obtention license : </h2>
    <div class="d-flex flex-wrap align-items-center gap-5 p-3 request">
      <p>nom du client : <span>{{ request.firstName }}</span></p>
      <p>prénom du client : <span>{{ request.lastName }}</span></p>
      <p>email du client : <span>{{ request.email }}</span></p>
      <p>télephone du client : <span>{{ request.phone }}</span></p>
      <p>address d'entreprise : <span>{{ request.companyAddress }}</span></p>
      <p>nom d'entreprise : <span>{{ request.companyName }}</span></p>
      <p>message du client : <span>{{ request.message }}</span></p>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage!=''">
      {{ errorMessage }}
    </div>
    <div class="d-flex w-100">
      <div id="image">
        <img src="assets/entrepreneur.png" alt="" srcset="" width="100%">
      </div>
      <div id="form">
        <div class="row mt-5">
          <div class="col p-3">
            <h2>Les information personnel :</h2>
            <div class="row">
              <div class="col">
                <label class="form-label">Nom :</label>
                <input class="form-control" type="text" (keyup)="checkFirstNameValid()"
                       [ngClass]="{'border-danger': !validFirstName}"
                       [(ngModel)]="contactor.firstName">
                <span class="text-danger" *ngIf="!validFirstName">Nom est obligatoire</span>
              </div>
              <div class="col">
                <label class="form-label">Prénom :</label>
                <input class="form-control" type="text" (keyup)="checkLastNameValid()"
                       [ngClass]="{'border-danger': !validLastName}"
                       [(ngModel)]="contactor.lastName">
                <span class="text-danger" *ngIf="!validLastName">Prénom est obligatoire</span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <label class="form-label">Address :</label>
                <input class="form-control" type="text" [(ngModel)]="contactor.address">
              </div>
              <div class="col">
                <label class="form-label">Télèphone :</label>
                <input class="form-control" type="text" [(ngModel)]="contactor.phone">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col p-3">
            <h2>Les information de connexion :</h2>
            <div class="row">
              <div class="col">
                <label class="form-label">Email :</label>
                <input class="form-control" type="email" (keyup)="checkValidationEmail()"
                       [ngClass]="{'border-danger': !validEmail}" [(ngModel)]="contactor.email">
                <span class="text-danger" *ngIf="!validEmail">Email n'est pas bien formet</span>
              </div>
              <div class="col-3">
                <label class="form-label">Password :</label>
                <input class="form-control" type="password" (keyup)="checkValidationPassword()"
                       [ngClass]="{'border-danger': !validPassword}" [(ngModel)]="password">
                <span class="text-danger" *ngIf="!validPassword">Password de longueur 6 au minimum</span>
              </div>
              <div class="col-3">
                <label class="form-label">Licence :</label>
                <select class="form-control" (change)="checkValidLicence($event)" [ngClass]="{'border-danger': !validLicence}">
                  <option>choisir durée licence</option>
                  <option value="1">1 mois</option>
                  <option value="3">3 mois</option>
                  <option value="6">6 mois</option>
                  <option value="12">12 mois</option>
                </select>
                <span class="text-danger" *ngIf="!validLicence">licence est obligatoire</span>
              </div>
            </div>
            <div class="row mt-3">

            </div>
            <div class="d-flex justify-content-end align-items-center mt-5">
              <button class="btn btn-primary" (click)="saveLicence()">enregistrer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
