<div class="container h-100">
  <div class="d-flex justify-content-center pt-5 pb-5">
    <img src="../../../assets/lg.png" width="200px">
  </div>
  <h1>Changer Password</h1>
  <div class="login-form">
    <div class="image">
      <img src="../../../assets/register-login.jpg" width="100%">
    </div>
    <div class="container-content" *ngIf="!codeSent">
      <p class="alert alert-danger" *ngIf="error">{{ errorMessage }}</p>
      <div class="w-100">
        <div class="d-flex align-items-center mb-2" *ngIf="requestLoading">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <span class="ms-3">en attente de serveur</span>
        </div>
        <label for="email" class="form-label">Email :</label>
        <input type="email" id="email" class="form-control" (keyup)="checkValidationEmail()" [ngClass]="{'border-danger' : !emailValid}"   [(ngModel)]="request.email" placeholder="@gmail.com">
        <span class="text-danger" *ngIf="!emailValid">email n'est pas bien formatter</span>
      </div>
      <div class="d-flex justify-content-end align-items-center w-100">
        <button class="btn btn-primary d-flex align-items-center justify-content-center"
                (click)="sendChangePasswordCode()">
          envoyer <i class="bi bi-envelope-at-fill ms-2"></i></button>
      </div>
    </div>

    <div class="container-content" *ngIf="codeSent && !codeConfirmed">
      <p class="alert alert-success" *ngIf="!error">{{ errorMessage }}</p>
      <p class="alert alert-danger" *ngIf="error">{{ errorMessage }}</p>
      <div class="w-100">
        <label for="code" class="form-label">Code de confirmation :</label>
        <input type="text" class="form-control" id="code" [(ngModel)]="code">
      </div>
      <div class="d-flex justify-content-end align-items-center w-100">
        <button class="btn btn-primary d-flex align-items-center justify-content-center"
                (click)="confirmCode()">
          confirmer
        </button>
      </div>
    </div>

    <div class="container-content" *ngIf="codeConfirmed">
      <p class="alert alert-success" *ngIf="!error">{{ errorMessage }}</p>
      <p class="alert alert-danger" *ngIf="error">{{ errorMessage }}</p>
      <div class="w-100">
        <label class="form-label">Email :</label>
        <input type="email" class="form-control" (keyup)="checkValidationEmail()" [ngClass]="{'border-danger' : !emailValid}"   [(ngModel)]="request.email">
        <span class="text-danger" *ngIf="!emailValid">email n'est pas bien formatter</span>
      </div>
      <div class="w-100">
        <label class="form-label">Nouvelle password :</label>
        <input type="password" class="form-control" (keyup)="checkValidationPassword()" [ngClass]="{'border-danger' : !passwordValid}" [(ngModel)]="request.newPassword">
        <span class="text-danger" *ngIf="!passwordValid">password min 6 charactères</span>
      </div>
      <div class="w-100">
        <label class="form-label">Nouvelle password :</label>
        <input type="password" class="form-control" (keyup)="checkConfirmedPassword()" [ngClass]="{'border-danger' : !passwordConfirmed}" [(ngModel)]="request.confirmationPassword">
        <span class="text-danger" *ngIf="!passwordConfirmed">password n'est pas confirmer</span>
      </div>
      <div class="d-flex justify-content-end align-items-center w-100">
        <button class="btn btn-primary d-flex align-items-center justify-content-center"
                (click)="changePassword()">
          confirmer
        </button>
      </div>
    </div>
  </div>
</div>


