<div class="container-fluid">
  <div class="d-flex align-items-center mb-3">
    <input class="form-control w-25" type="search" placeholder="search" [(ngModel)]="sh" (keyup.enter)="search()">
    <button class="btn btn-primary" (click)="search()"><i class="bi bi-search"></i></button>
    <button class="btn btn-primary ms-3" routerLink="./new">ajouter</button>
    <div class="alert alert-success" *ngIf="message != ''">
      {{ message }}
    </div>
  </div>
  <table class="table table-bordered">
    <caption class="caption-top caption">
      <span class="title">Les demandes de devis</span>
    </caption>
    <thead>
    <tr>
      <th>nom</th>
      <th>prénom</th>
      <th>email</th>
      <th>phone</th>
      <th>code postal</th>
      <th>emplacement</th>
      <th>type de batiment</th>
      <th>surface disponible</th>
      <th>accée électrique</th>
      <th>consommation</th>
      <th>toiture type</th>
      <th>status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dr of devisRequestList">
      <td>{{ dr.firstName }}</td>
      <td>{{ dr.lastName }}</td>
      <td>{{ dr.email }}</td>
      <td>{{ dr.phone }}</td>
      <td>{{ dr.post_code }}</td>
      <td>{{ dr.location }}</td>
      <td>{{ dr.building_type }}</td>
      <td>{{ dr.available_area }} m²</td>
      <td>{{ dr.electricity_access }}</td>
      <td>{{ dr.consumption }} Kwh</td>
      <td>{{ dr.roof_type }}</td>
      <td [ngClass]="{'done' : dr.status === 'fait', 'waiting' : dr.status === 'en attente'}">{{ dr.status }}</td>
      <td class="d-flex justify-content-center">
        <i class="bi bi-file-earmark-plus-fill me-3" *ngIf="dr.status === 'en attente'"
           (click)="navigateToCreateNewDevis(dr)"></i>
        <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#updateModal"
           (click)="selectDevisRequest(dr)"></i>
        <i class="bi bi-trash ms-3" data-bs-toggle="modal" data-bs-target="#deleteModal"
           (click)="selectDevisRequest(dr)"></i>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="position-fixed bottom-0 end-0 me-5" *ngIf="dataExist">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link request">{{ totalElements }} demandes de devis</a></li>
        <li class="page-item me-2"><a class="page-link request">{{ totalPages }} pages</a></li>
        <li class="page-item" (click)="previousPage()"><a class="page-link"><i class="bi bi-caret-left"></i></a></li>
        <li class="page-item ms-2 me-2"><a class="page-link text-center" style="width: 50px;">{{ pageNo + 1 }}</a></li>
        <li class="page-item" (click)="nextPage()"><a class="page-link"><i class="bi bi-caret-right"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="w-100 h-50 d-flex justify-content-center align-items-center position-absolute w-100 h-75 top-0" *ngIf="dataLoading">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
  </div>
  <span class="ms-2">Chargement...</span>
</div>

<!--Modal update contactor-->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalLabel">Modifier</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <label class="form-label">Nom :</label>
            <input class="form-control" type="text" [(ngModel)]="devisRequest.firstName">
          </div>
          <div class="col">
            <label class="form-label">Prénom :</label>
            <input class="form-control" type="text" [(ngModel)]="devisRequest.lastName">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <label class="form-label">Email :</label>
            <input class="form-control" type="email" [(ngModel)]="devisRequest.email">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <label class="form-label">emplacement :</label>
            <input class="form-control" type="text" [(ngModel)]="devisRequest.location">
          </div>
          <div class="col">
            <label class="form-label">Télèphone :</label>
            <input class="form-control" type="text" [(ngModel)]="devisRequest.phone">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <label class="form-label">type de battiment :</label>
            <input class="form-control" type="text" [(ngModel)]="devisRequest.building_type">
          </div>
          <div class="col">
            <label class="form-label">type de toiture :</label>
            <input class="form-control" type="text" [(ngModel)]="devisRequest.roof_type">
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn btn-primary ms-3" (click)="updateDevisRequest()" data-bs-dismiss="modal">
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal delete contactor-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Supprimer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr d'avoir supprimé cette demande devis ?
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn btn-danger ms-3" (click)="deleteDevisRequest()" data-bs-dismiss="modal">
          supprimer
        </button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center position-absolute top-25 w-100" *ngIf="!dataExist">
  <img src="assets/OIP.jpeg" class="opacity-25">
</div>
