<div class="container">
  <h1>Ajouter demande devis</h1>
  <div class="form">
    <div class="info-per">
      <h2>Les information de client : </h2>
      <div class="row">
        <div class="col-3">
          <label class="form-label">Nom :</label>
          <input class="form-control" type="text" [(ngModel)]="devisRequest.firstName">
        </div>
        <div class="col-3">
          <label class="form-label">Prénom :</label>
          <input class="form-control" type="text" [(ngModel)]="devisRequest.lastName">
        </div>
        <div class="col-4">
          <label class="form-label">email :</label>
          <input class="form-control" type="email" placeholder="@exemple.com" [(ngModel)]="devisRequest.email">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-2">
          <label class="form-label">téléphone :</label>
          <input class="form-control" type="text" placeholder="+216" [(ngModel)]="devisRequest.phone">
        </div>
        <div class="col-2">
          <label class="form-label">code postal :</label>
          <input class="form-control" type="text" [(ngModel)]="devisRequest.post_code">
        </div>
      </div>
    </div>
    <div class="info-dev">
      <h2>Les information de battiment : </h2>
      <div class="row">
        <div class="col-4">
          <label class="form-label">emplacement :</label>
          <input class="form-control" type="text" [(ngModel)]="devisRequest.location">
        </div>
        <div class="col-3">
          <label class="form-label">type de battiment :</label>
          <select class="form-control" (change)="selectBuilding($event)">
            <option>choisir un type de battiment</option>
            <option *ngFor="let b of buildings" [value]="b">{{ b }}</option>
          </select>
        </div>
        <div class="col-4">
          <label class="form-label">type de toiture :</label>
          <select class="form-control" (change)="selectRoof($event)">
            <option>choisir un type de toiture</option>
            <option *ngFor="let rt of roofs" [value]="rt">{{ rt }}</option>
          </select>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-2">
          <label class="form-label">accée electrique :</label>
          <select class="form-control" (change)="selectAccess($event)">
            <option>choisir Oui ou Non</option>
            <option [value]="true">oui</option>
            <option [value]="false">non</option>
          </select>
        </div>
        <div class="col-2">
          <label class="form-label">consommation :</label>
          <input class="form-control" type="text" placeholder="Kwh" [(ngModel)]="devisRequest.consumption">
        </div>
        <div class="col-2">
          <label class="form-label">surface disponible :</label>
          <input class="form-control" type="text" placeholder="m²" [(ngModel)]="devisRequest.available_area">
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary" (click)="saveDevisRequest()">enregistrer <i class="bi bi-floppy ms-2"></i>
      </button>
    </div>
  </div>
</div>
