<div class="container">
  <h1>ajouter un panneau solaire</h1>
  <div class="d-flex align-items-center w-100 gap-5">
    <div class="image">
      <img [src]=imageLink>
      <input type="file" class="form-control" (change)="handleFileInput($event)">
    </div>
    <div class="form">
      <div class="row">
        <div class="col">
          <label class="form-label">modele : </label>
          <input class="form-control" type="text" [(ngModel)]="solarPanel.model">
        </div>
        <div class="col-3">
          <label class="form-label">puissance nominal : </label>
          <input class="form-control" type="number" placeholder="A" [(ngModel)]="solarPanel.nominal_power">
        </div>
        <div class="col-3">
          <label class="form-label">tension maximal : </label>
          <input class="form-control" type="number" placeholder="A" [(ngModel)]="solarPanel.maximum_voltage">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-3">
          <label class="form-label">courant nominal : </label>
          <input class="form-control" type="number" placeholder="V" [(ngModel)]="solarPanel.maximum_current">
        </div>
        <div class="col-3">
          <label class="form-label">hauteur : </label>
          <input class="form-control" type="number" placeholder="m" [(ngModel)]="solarPanel.height">
        </div>
        <div class="col-3">
          <label class="form-label">longueur : </label>
          <input class="form-control" type="number" placeholder="m" [(ngModel)]="solarPanel.width">
        </div>
        <div class="col-3">
          <label class="form-label">poids : </label>
          <input class="form-control" type="number" placeholder="kg" [(ngModel)]="solarPanel.weight">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-4">
          <label class="form-label">type de cellule : </label>
          <select class="form-control" [(ngModel)]="solarPanel.type_cell">
            <option>choisir un type de cellule</option>
            <option value="Cellules en silicium monocristallin">Cellules en silicium monocristallin</option>
            <option value="Cellules en silicium polycristallin">Cellules en silicium polycristallin</option>
            <option value="Cellules en silicium amorphe">Cellules en silicium amorphe</option>
            <option value="Cellules CIGS (Copper Indium Gallium Selenide)">Cellules CIGS (Copper Indium Gallium
              Selenide)
            </option>
            <option value="Cellules à pérovskite">Cellules à pérovskite</option>
          </select>
        </div>
        <div class="col-2">
          <label class="form-label">prix: </label>
          <input class="form-control" placeholder="TND" type="number" [(ngModel)]="solarPanel.price">
        </div>
        <div class="col-2">
          <label class="form-label">quantité: </label>
          <input class="form-control" type="number" [(ngModel)]="solarPanel.quantity">
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="saveSolarPanel()">enregistrer <i class="bi bi-floppy ms-2"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
