<div class="container-fluid">
  <nav class="navbar navbar-expand-md" aria-label="Fourth navbar example">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
              aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav m-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Fonctionnalité</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">gestion des chantier</a></li>
              <li><a class="dropdown-item" href="#">gestion de stock</a></li>
              <li><a class="dropdown-item" href="#">gestion des ouvriers</a></li>
              <li><a class="dropdown-item" href="#">planification des chantier</a></li>
              <li><a class="dropdown-item" href="#">gestion des factures</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-orange" routerLink="contact"> Contact </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="mt-5 h-75 w-100">
    <div class="w-100 h-100 d-flex justify-content-center flex-column">
      <h1 style="margin: 25px auto; color: white; font-size: 3rem">Bienvenu à <span style="color: #cb0ecb">ECO</span>SOLAIRE
      </h1>
      <h2 style="margin: 25px auto; color: white; font-size: 1.5rem; font-weight: 700">Votre meilleur outil de gestion
        photovoltaique</h2>
      <p></p>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid animated">
    <div class="H-C-1 ">
      <div class="text">
        <h2>La qualité d’un chantier
          dépend de son organisation</h2>
        <div class="bleu"><hr></div>
        <p>Gérez tous les aspects de votre entreprise de bâtiment dans une seule interface.
          Le logiciel de chantier Vertuoza est l’allié qui vous permettra de suivre l’ensemble
          de vos projets BTP et ouvrages liés ainsi que les processus à respecter. Chaque ouvrier
          saura exactement quoi faire depuis la réception de la demande d’offre jusqu’à la livraison du chantier.
        </p>
        <a class="btn btn-primary" href="#" style="">Contactez-nous<i class="bi bi-chevron-right" style="padding-left: 10px;padding-top: 15px "></i></a>
      </div>
      <div class="image">
        <img src="assets/h-c-1.png" style="width: 435px;height:450px;">
      </div>
    </div>
    <div class="H-C-2">
      <div class="text">
        <h2>Gardez un œil sur vos marges en temps réel</h2>
        <div class="bleu"><hr></div>
        <p>Quand le chantier commence, l’ambition de marge est à son maximum et dès que les problèmes arrivent, le temps court et les marges se réduisent.

          Nous proposons une solution digitale et un accompagnement pour vous apporter sérénité et succès.

          Vertuoza est l’outil dédié au bâtiment idéal pour optimiser vos marges travaux en réduisant la charge de travail administratif et de gestion.
        </p>
        <a class="btn btn-primary" href="#" style="">Contactez-nous<i class="bi bi-chevron-right" style="padding-left: 10px;padding-top: 15px "></i></a>
      </div>
      <div class="image">
        <img src="assets/h-c-2.png" style="width: 435px;height:450px;margin-left: -25px">
      </div>
    </div>
    <div class="H-C-3" style="margin-top: 190px">
      <div class="text" style="margin-top: 100px">
        <h2>Le logiciel adapté à
          chaque métier du bâtiment !</h2>
        <div class="bleu"><hr></div>
        <p>Gérez votre entreprise et vos nombreux chantiers avec Ecosolaire grâce à
          ses fonctionnalités flexibles , … <br>

          Même les démos gratuites sont adaptées à votre métier !
        </p>
        <a class="btn btn-primary" href="#" style="">Contactez-nous<i class="bi bi-chevron-right" style="padding-left: 10px;padding-top: 15px "></i></a>
      </div>
      <div class="image">
        <img src="assets/h-c-3.png" style="width: 435px;height:450px;">
      </div>
    </div>
  </div>
</div>

