<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light" aria-label="Fourth navbar example">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
              aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav m-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Fonctionnalité</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">gestion des chantier</a></li>
              <li><a class="dropdown-item" href="#">gestion de stock</a></li>
              <li><a class="dropdown-item" href="#">gestion des ouvriers</a></li>
              <li><a class="dropdown-item" href="#">planification des chantier</a></li>
              <li><a class="dropdown-item" href="#">gestion des factures</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-orange" routerLink="contact"> Contact </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="mt-5 h-75 w-100" >
    <div class="w-100 h-100 d-flex justify-content-center flex-column text-center" style="margin-top: 350px">
      <h1 class="welcome-title">Bienvenu à <span class="highlight">ECO</span>SOLAIRE</h1>
      <h2 class="welcome-subtitle">Votre meilleur outil de gestion photovoltaique</h2>
      <p></p>
    </div>
  </div>
</div>

